* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient (rgba(11, 29, 38, 0) 50%, rgba(11, 29, 38, 1));
    background-color: rgb(11, 29, 38);
}

.container {
    max-width: 1760px;
    padding-top: 64px;
    margin: 0 auto;
}

header {
    background: transparent;
    padding: 0;
    height: 1950px; 
    width: 100%; 
}

header .header_container {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: 
    linear-gradient(to bottom, rgba(11, 29, 38, 0) 50%, rgba(11, 29, 38, 1) 100%),
    url("./images/BG1.png");

}

header .header_container .container {
    max-width: 1760px;
}

header .header_container .header__burger {
    display: none;
}

header nav {
    text-align: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

header nav ul li {
    margin: 0 25px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    margin-top: -480px;
    background-color: rgba(11, 29, 38, 0) 50%;
}

.container .logo {
    width: 113px;
    height: 37px;
}

.container .account {
    width: 105px;
    height: 26px;
    top: 3px;
    left: 1653px;
    gap: 0px;
    opacity: 0px;
}

.burger-menu {
    cursor: pointer;
    display: none;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: white;
} 

.header__menu .logo,
.header__menu .account {
  display: none;
}

.section_one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 734px;
    margin-top: 268px; 
}

.pages {
    margin-left: 77px;
}

.page {
    display: none;
    z-index: -1000;
}

.img_mobile {
    display: none;
}

.date {
    margin-right: 80px;
}

.text {
    height: 419px;
    width: 950px;
}

.text_one {
    font-family: "Playfair Display", serif;
    font-size: 88px;
    font-weight: 600;
    line-height: 100px;
    color: white;
    margin-bottom: 32px;
    margin-top: 32px;
}

.paragraf {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: white;
}

main .aside {
    max-width: 1462px;
}

.aside {
    display: flex;
    margin-bottom: 200px;
    position: relative;
    flex-wrap: wrap;
}

.aside .text_container {
    flex: 4;
}

.aside_revers {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    flex-wrap: nowrap;
}

.aside_revers .text_container_revers {
    margin-top: 140px;
    margin-left: 100px;
}

.aside_revers .image_two {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
}

.aside .image_one {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
}

.aside .text_container {
    margin-top: 140px;
    margin-right: 130px;
}

.text_paragraf {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.text_footer ul {
    list-style-type: none;
}

.text_footer a {
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    margin-bottom: 16px;
}

h6 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: rgba(251, 215, 132, 1);
    margin-bottom: 24px;
}

.text_footer {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
}

.section_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.copyright {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: grey;
    display: flex;
    position: absolute;
    bottom: 0;
}

footer .footer_container {
    display: flex;
    max-width: 1478px;
    margin: 0 auto;
    margin-bottom: 120px;
    justify-content: space-between;
}

.logo_text {
    width: 350px;
    height: 64px;
    top: 2822px;
    gap: 0px;
}

.footer_nav {
    display: grid;
    grid-template-columns: repeat(2, 209px);
    grid-gap: 196px;
}

@media screen and (max-width: 1536px) {
    main .container {
        max-width: 1250px;
    }

    header .header_container .container {
        max-width: 1376px;
    }

    header {
        height: 1376px; 
    }

    div .text .text_one {
        font-size: 88px;
    }

    div .text .text_title {
        position: absolute;
        left: 0;
        top: 0;
        margin-bottom: 42px;
    }

    div .text .scroll {
        position: absolute;
        left: 0;
        top: 390px;
    }

    div .text {
        position: relative;
    }

    .aside,
    .aside_revers,
    .text_container,
    .text,
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .aside .text_container .image_one {
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
    }

    .aside .text_container .tagline {
        position: absolute;
        left: 0;
    }

    .aside_revers {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        flex-wrap: nowrap;
    }
    
    .aside_revers .text_container_revers {
        margin-top: 140px;
        margin-left: 100px;
    }

    .section_two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_nav {
        display: grid;
        grid-template-columns: repeat(2, 209px);
        grid-gap: 196px;
    }

    footer .footer_container {
        display: flex;
        max-width: 1260px;
        margin: 0 auto;
        margin-bottom: 120px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1024px) {
    main .container {
        max-width: 960px;
        margin-top: 0 auto;
    }

    main {
        margin-top: 0;
    }

    header {
        height: 901px;
    }

    header .header_container .container {
        max-width: 900px;
    }

    .text_one {
        font-family: "Poppins";
        font-size: 64px;
        font-weight: 600;
        width: 555px;
        color: white;
    }

    div .text {
        width: 705px;
    }

    div .text .text_one {
        font-size: 60px;
    }

    div .text .text_title {
        position: absolute;
        left: 0;
        top: 0;
        margin-bottom: 32px;
    }

    div .text .scroll {
        position: absolute;
        left: 0;
        top: 280px;
    }

    div .text {
        position: relative;
    }

    div .section_one {
        position: relative;
    }

    div .section_one .date .date_img {
        bottom: 0;
        right: 0;
        position: absolute;
    }

    .aside,
    .text_container,
    .text,
    section,
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    div .aside {
        padding-top: 110px;
    }

    .aside .text_container .image_one {
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
    }

    .image_one {
        display: flex;
    }

    main .aside {
        max-width: 725px;
    }

    .aside .text_paragraf {
        max-width: 860px;
    }
    
    .section_one {
        margin-top: 110px;
    }

    .section_two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pages {
        margin-left: 32px;
    }

    main .container {
        max-width: 440px;
        margin-top: 0 auto;
    }
    
    .section_two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_nav {
        display: grid;
        grid-template-columns: repeat(2, 209px);
        grid-gap: 196px;
    }

    footer .footer_container {
        display: flex;
        max-width: 1260px;
        margin: 0 auto;
        margin-bottom: 120px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px){
    main .container {
        max-width: 704px;
        width: 100%;
        margin: 0 auto;
    }

    header .header_container .header__burger {
        display: block;
        background: url('../images/burger.png') no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 40px;
        z-index: 1000;
    }

    header .header_container {
        width: 100%;
    }

    header .header_container .header__burger.active {
        background: url('../images/close.png') no-repeat;
        background-size: contain;
    }

    header .header_container .header__menu.active {
        width: 100%;
        height: 265px;
        background: #FFFFFF;
        z-index: 999;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        border-radius: 0 0 14px 14px ;
        display: block;
    }

    .header__menu .burger_control img {
        filter: invert(100%);
    }

    .header__menu .burger_control {
        display: block;
        position: absolute;
        left: 75px;
        margin-top: 35px;
        z-index: -1;
    }

    .header__menu .account .account_logo {
        margin-top: 150px;
        margin-left: 500px;
    }

    .header_container {
        position: relative;
    }
    
    .header_container ul.active {
        margin-bottom: 50px;
        left: 60px;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        bottom: 0;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_container ul.active a {
        color: #000000;
    }

    header .header_container .container {
        padding: 30px 30px;
        margin: 0 auto;
    }
    
    header nav ul {
        display: none;
    }
    
    header nav ul.show {
        display: flex;
    }
    
    .burger-menu {
        display: block;
    }

    header .account {
        display: none;
    }

    header {
        height: 640px; 
    }
    
    div .text {
        width: 517px;
    }

    div .text .text_one {
        font-size: 44px;
    }

    div .text .text_title {
        position: absolute;
        left: 0;
        top: 0;
        margin-bottom: 32px;
    }

    div .text .scroll {
        position: absolute;
        left: 0;
        top: 280px;
    }

    div .text {
        position: relative;
    }

    div .section_one {
        position: relative;
    }

    div .section_one .date .date_img {
        bottom: 0;
        right: 0;
        position: absolute;
    }

    .aside,
    .text_container,
    .text,
    section,
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .text_one_paragraf {
        font-family: Poppins;
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        text-align: left;
        color: white;
    }

    .aside .text_container {
        margin-top: 60px;
    }

    .aside .text_container .tagline {
        margin-top: -40px;
    }

    .aside_revers .text_container_revers {
        margin-top: 40px;
    }

    .aside_revers .text_container_revers .tagline {
        margin-top: -60px;
    }

    .image_one {
        display: flex;
    }

    main .aside {
        max-width: 704px;
    }

    main .aside .text_container {
        margin-right: 0;
    }

    main .aside_revers {
        max-width: 704px;
    }

    main .aside_revers .text_container_revers {
        margin-left: 0;
    }

    main .aside .image_container {
        width: 704px;
    }

    main .aside .image_container img {
        width: 100%;
    }

    .aside .text_container .image_one {
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
    }

    .section_one {
        margin-top: 110px;
    }

    .section_two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pages {
        margin-left: 32px;
    }

    .footer_nav {
        display: grid;
        grid-template-columns: repeat(2, 209px);
        grid-gap: 25px;
    }

    footer .footer_container {
        display: flex;
        max-width: 704px;
        margin: 0 auto;
        margin-bottom: 120px;
        justify-content: space-between;
    }

    .text_footer {
        width: 230px;
    }
}

@media screen and (max-width: 480px){
    main .container {
        max-width: 440px;
        margin: 0 auto;
    }

    header .header_container .header__burger {
        display: block;
        background: url('../images/burger.png') no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 40px;
        z-index: 1000;
    }

    header .header_container {
        width: 100%;
    }

    header .header_container .header__burger.active {
        background: url('../images/close.png') no-repeat;
        background-size: contain;
    }

    header .header_container .header__menu.active {
        width: 100%;
        height: 350px;
        background: #FFFFFF;
        z-index: 999;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        border-radius: 0 0 14px 14px ;
    }

    .header__menu .burger_control img {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    .header__menu .burger_control {
        display: block;
        position: absolute;
        left: 70px;
        margin-top: 35px;
    }

    .header__menu .account .account_logo {
        margin-top: 150px;
        margin-left: 250px;
    }

    .header_container {
        position: relative;
    }
    
    .header_container ul.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 150px;
        height: 120px;
        left: 30px;
    }

    .header_container ul.active a {
        color: #000000;
    }

    header .header_container .container {
        padding: 30px 30px;
        margin: 0 auto;
    }
    
    header nav ul {
        display: none;
    }
    
    header nav ul.show {
        display: flex;
    }
    
    .burger-menu {
        display: block;
    }

    header .account {
        display: none;
    }

    header {
        height: 350px; 
    }

    .content {
        padding: 100px 0 0 0;
    }

    header .header_container .section_one .pages {
        display: none;
    }

    header .header_container .section_one .pages_mobile {
        display: block;
        position: absolute;
        right: 70px;
        top: 0;
    }

    .text_one {
        font-size: 30px;
        font-weight: 600;
        width: 600px;
    }

    div .pages_mobile .img_mobile {
        padding-bottom: 33px;
    }

    div .text .text_one {
        font-size: 44px;
    }

    div .text {
        width: 440px;
        left: 0;
        top: 0;
        margin-bottom: 32px;
        margin-top: 68px;
        position: relative;
    }

    div .text .text_title {
        position: absolute;
        left: 0;
        top: 0;
        margin-bottom: 32px;
    }

    div .text .scroll {
        position: absolute;
        left: 0;
        top: 406px;
    }

    main .section .aside {
        padding-top: 100px;
    }

    .paragraf {
        font-size: 14px;
        font-weight: 500;
        line-height: 32px;
    }

    .aside,
    .text_container,
    .text,
    section,
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image_one .number {
        width: 144px;
        height: 150px;
    }

    .image_two .number {
        width: 144px;
        height: 150px;
    }

    .text_one_paragraf {
        font-family: Poppins;
        font-size: 30px;
        font-weight: 600;
        line-height: 45px;
        text-align: left;
        color: white;
    }

    main .section {
        margin-top: 100px;
    }

    .aside {
        margin-bottom: 0;
    }

    .aside .text_container {
        margin-top: 60px;
    }

    .aside .text_container .tagline {
        margin-top: -50px;
    }

    .aside_revers .text_container_revers {
        margin-top: 0px;
    }

    .aside_revers .text_container_revers .tagline {
        margin-top: -60px;
    }

    .image_one {
        display: flex;
    }

    main .aside {
        max-width: 440px;
    }

    main .aside .text_container {
        margin-right: 0;
    }

    main .aside_revers {
        max-width: 440px;
    }

    main .aside_revers .text_container_revers {
        margin-left: 0;
    }

    main .aside .image_container {
        width: 440px;
    }

    main .aside .image_container img {
        width: 100%;
    }

    .aside .text_container .image_one {
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
    }

    .section_one {
        margin-top: 110px;
    }

    .section_two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 300px;
    }

    .pages {
        margin-left: 32px;
    }

    footer .footer_container,
    footer .footer_container .footer_nav {
        display: flex;
        flex-direction: column;
    }

    footer .footer_container .copyright {
        position: initial;
    }
}

@media screen and (max-width: 320px){
    main .container {
        max-width: 300px;
        margin-top: 0;
    }

    header .header_container .header__burger {
        display: block;
        background: url('../images/burger.png') no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 40px;
        z-index: 1000;
    }

    header .header_container {
        width: 100%;
    }

    header .header_container .header__burger.active {
        background: url('../images/close.png') no-repeat;
        background-size: contain;
    }

    header .header_container .header__menu.active {
        width: 100%;
        height: 350px;
        background: #FFFFFF;
        z-index: 999;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        border-radius: 0 0 14px 14px ;
    }

    .header__menu .burger_control img {
        filter: invert(100%);
    }

    .header__menu .burger_control {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 50px;
        margin-top: 35px;
    }

    .header__menu .account .account_logo {
       margin-left: 0;
       position: relative;
       top: 95px;
    }

    .header__menu .page {
        position: absolute;
        right: 45px;
        bottom: 36px;
        display: block;
    }

    .header_container {
        position: relative;
    }
    
    .header_container ul.active {
        display: flex;
        align-items: flex-start;
        margin-bottom: 100px;
    }

    .header_container ul.active a {
        color: #000000;
    }

    header .header_container .container {
        padding: 30px 30px;
        margin: 0 auto;
    }
    
    header nav ul {
        display: none;
    }
    
    header nav ul.show {
        display: flex;
    }
    
    .burger-menu {
        display: block;
    }

    header .account {
        display: none;
    }

    header {
        height: 350px; 
    }

    .content {
        padding: 100px 0 0 0;
    }

    header .header_container .section_one .pages {
        display: none;
    }

    header .header_container .section_one .pages_mobile {
        display: block;
        position: absolute;
        right: 70px;
        top: 0;
    }

    div .pages_mobile .img_mobile {
        padding-bottom: 33px;
    }

    div .text .text_one {
        font-family: Playfair Display;
        font-size: 30px;
        font-weight: 600;
        line-height: 45px;
        text-align: left;
    }

    div .text {
        width: 300px;
        left: 0;
        top: 0;
        margin-bottom: 32px;
        margin-top: 68px;
        position: relative;
    }

    div .text .text_title {
        position: absolute;
        left: 0;
        top: 0;
        margin-bottom: 32px;
        width: 224px;
    }

    div .text .scroll {
        position: absolute;
        left: 0;
        top: 306px;
        width: 117px;
        height: 22px;
    }

    .section_one {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 110px;
        width: 300px;
        height: 298px;
    }

    .section_two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div .section_one .date .date_img {
        position: absolute;
        height: 160px;
        width: 66px;
    }

    .text_one {
        font-size: 30px;
        font-weight: 600;
        width: 240px;
    }

    .aside,
    .text_container,
    .text,
    section,
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image_one .number {
        width: 144px;
        height: 150px;
    }

    .image_two .number {
        width: 144px;
        height: 150px;
    }

    .text_one_paragraf {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        text-align: left;
        color: white;
    }

    main .section {
        margin-top: 350px;
    }

    .aside .text_container {
        margin-top: 60px;
    }

    .aside .text_container .tagline {
        margin-top: -50px;
    }

    .aside_revers .text_container_revers {
        margin-top: 0px;
    }

    .aside_revers .text_container_revers .tagline {
        margin-top: -60px;
    }

    .image_one {
        display: flex;
    }

    main .aside {
        max-width: 300px;
    }

    main .aside .text_container {
        margin-right: 0;
    }

    main .aside_revers {
        max-width: 300px;
    }

    main .aside_revers .text_container_revers {
        margin-left: 0;
    }

    main .aside .image_container {
        width: 300px;
    }

    main .aside .image_container img {
        width: 100%;
    }

    .aside .text_container .image_one {
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
    }

    .section_one {
        margin-top: 110px;
    }

    .section_two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pages {
        margin-left: 32px;
    }

    .footer_container .logo_text {
        max-width: 300px;
    }

    footer .footer_container,
    footer .footer_container .footer_nav {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    footer .footer_container .copyright {
        position: initial;
    }

    footer {
        margin: 0 auto;
        width: 300px;
    }
}